<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dragon.playandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dargon.playandroid.PlayAndroidApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Play.Android"
        >
        <profileable android:shell="true" tools:targetApi="q" />

        <activity
            android:name="com.dargon.playandroid.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>