<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dragon.playandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dargon.playandroid.PlayAndroidApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Play.Splash"
        >
        <profileable android:shell="true" tools:targetApi="q" />

        <activity
            android:name="com.dargon.playandroid.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name="com.dargon.playandroid.SplashAdActivity"
            android:exported="true"
            android:launchMode="standard"
           >

        </activity>-->

        <!--https://juejin.cn/post/7080065015197204511#heading-6-->
        <!--感觉是旧项目中因为存在两次activity的启动慢所以合并后把MainActivity中代码搬到Splash中-->
        <!--然后在Splash中读取开屏时间做一些强关联任务 本代码中不需要-->
       <!-- <activity-alias
            android:name="com.dargon.playandroid.SplashAdActivity"
            android:targetActivity="com.dargon.playandroid.MainActivity"
            android:exported="true"
            tools:replace="android:targetActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>-->

    </application>

</manifest>